@font-face {
  font-family: "LogoBloquo";
  src: url(../fonts/LogoBloquo.ttf);
}

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 0;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: LogoBloquo;
}

body {
  background-image: url(../img/background1.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

h2 {
  font-size: 50px;
  color: #000000;
  margin: 0 auto;
  line-height: 60px;
}

h3 {
  display: inline-block;
  font-size: 30px;
  color: #000000;
  vertical-align: 25px;
}

section {
  text-align: center;
  border-radius: 5px;
}

form {
  margin: 30px auto 10px;
}

label {
  color: #000000;
  font-size: 30px;
}

input {
  width: 250px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  font-size: 25px;
  text-align: center;
  margin: 10px 20px;
  border: 1px solid #000000;
}

button {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  font-size: 25px;
  padding: 10px 40px;
  cursor: pointer;
}

.reg-page,
.game-page,
.scores-page,
.task-page,
.spell-page {
  display: none;
}

.loading-page {
  position: relative;
  top: 30vh;
  width: 40vw;
  margin: auto;
}

.loading-page h2 {
  color: #f2ce0c;
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0)
  );
}

.reg-page {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  top: 20vh;
  width: 40vw;
  padding: 50px;
  margin: 2.5vh auto;
}

.game-page {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.fighters-names {
  display: flex;
  justify-content: space-between;
}

.player-name,
.monster-name {
  display: flex;
  font-size: 30px;
  color: #ffffff;
  padding: 10px 30px;
  background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.fighters-health {
  display: flex;
  justify-content: space-between;
}

.fighter-health {
  display: flex;
  justify-content: flex-start;
  width: 30vw;
  height: 3vh;
  background-color: #de0f18;
  border: 1px solid #ffffff;
  margin: 0 2vw;
}

.monster-health {
  justify-content: flex-end;
}

.player-health__remain,
.monster-health__remain {
  display: flex;
  height: 100%;
  background-color: #00ad00;
  font-size: 2.5vh;
  font-weight: bold;
  color: #ffffff;
  padding: 0 5px;
}

.monster-health__remain {
  justify-content: flex-end;
}

.round {
  color: #f2ce0c;
  margin: 0 auto 20px;
}

.player-image {
  display: none;
  position: absolute;
  width: 200px;
  height: 500px;
  top: 30vh;
  left: 20vh;
}

.monster-image {
  display: none;
  position: absolute;
  width: 200px;
  height: 500px;
  top: 30vh;
  right: 20vh;
}

.spell-page,
.task-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.task-page form {
  margin: 10px auto;
}

.modal-window {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 30px;
}

.modal-window__spell {
  top: 30vh;
  left: 34vw;
}

.modal-window__task {
  top: 20vh;
  left: 26.5vw;
  width: 600px;
}

.modal-window__spell_kind {
  width: 50%;
  cursor: pointer;
}

.modal-window__spell_kind:hover {
  transform: scale(1.2);
}

.modal-window__task_media {
  margin: 10px;
}

.modal-window__task_media img {
  width: 300px;
}

.sortable {
  list-style-type: none;
}

.sortable li {
  text-align: center;
  display: inline-block;
  background-color: #ffc2db;
  font-size: 30px;
  padding: 20px 0;
  width: 65px;
  margin: 3px;
}

label > input {
  visibility: hidden;
  position: absolute;
}
label > input + img {
  cursor: pointer;
  height: 100px;
  max-width: 150px;
  margin: 5px;
}
label > input:checked + img {
  border: #90ee90 2px solid;
}

.equation-row img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.scores-page {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  top: 6vh;
  width: 50vw;
  padding: 50px;
  margin: 2.5vh auto;
}

table {
  width: 100%;
  margin: 1vh 0 0;
}

th {
  width: 50%;
  font-size: 25px;
  padding: 10px;
  color: #000000;
}

td {
  width: 50%;
  font-size: 20px;
  color: #000000;
}

tr {
  margin: 5px auto;
}
