@font-face {
  font-family: "LogoBloquo";
  src: url("../fonts/LogoBloquo.ttf");
}

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 0;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: LogoBloquo;
}

body {
  background-image: url("../img/background1.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

h2 {
  font-size: 50px;
  color: #000000;
  margin: 0 auto;
  line-height: 60px;
}

h3 {
  display: inline-block;
  font-size: 30px;
  color: #000000;
  vertical-align: 25px;
}

section {
  text-align: center;
  border-radius: 5px;
}

form {
  margin: 30px auto 10px;
}

label {
  color: #000000;
  font-size: 30px;
}

input {
  width: 250px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  font-size: 25px;
  text-align: center;
  margin: 10px 20px;
  border: 1px solid #000000;
}

button {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  font-size: 25px;
  padding: 10px 40px;
  cursor: pointer;
}

.regPage,
.gamePage,
.scoresPage,
.taskPage,
.spellPage {
  display: none;
}

.loadingPage {
  position: relative;
  top: 30vh;
  width: 40vw;
  margin: auto;
}

.loadingPage h2 {
  color: #f2ce0c;
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0)
  );
}

.spinner {
  width: auto;
  height: 100px;
  background-image: url("../img/spinner.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: spin;
}

@keyframes spin {
  0% {
    transform: rotate(45deg);
  }
  12.5% {
    transform: rotate(45deg);
  }
  12.501% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  25.001% {
    transform: rotate(135deg);
  }
  37.5% {
    transform: rotate(135deg);
  }
  37.501% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  50.001% {
    transform: rotate(225deg);
  }
  62.5% {
    transform: rotate(225deg);
  }
  62.501% {
    transform: rotate(270deg);
  }
  75% {
    transform: rotate(270deg);
  }
  75.001% {
    transform: rotate(315deg);
  }
  87.5% {
    transform: rotate(315deg);
  }
  87.501% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.regPage {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  top: 20vh;
  width: 40vw;
  padding: 50px;
  margin: 2.5vh auto;
}

.gamePage {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.fightersNames {
  display: flex;
  justify-content: space-between;
}

.playerName,
.monsterName {
  display: flex;
  font-size: 30px;
  color: #ffffff;
  padding: 10px 30px;
  background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.fightersHealth {
  display: flex;
  justify-content: space-between;
}

.fighterHealth {
  display: flex;
  justify-content: flex-start;
  width: 30vw;
  height: 3vh;
  background-color: #de0f18;
  border: 1px solid #ffffff;
  margin: 0 2vw;
}

.monsterHealth {
  justify-content: flex-end;
}

.playerHealthRemain,
.monsterHealthRemain {
  display: flex;
  height: 100%;
  background-color: #00ad00;
  font-size: 2.5vh;
  font-weight: bold;
  color: #ffffff;
  padding: 0 5px;
}

.monsterHealthRemain {
  justify-content: flex-end;
}

.round {
  color: #f2ce0c;
  margin: 0 auto 20px;
}

.playerImage {
  display: none;
  position: absolute;
  width: 200px;
  height: 500px;
  top: 30vh;
  left: 20vh;
}

.monsterImage {
  display: none;
  position: absolute;
  width: 200px;
  height: 500px;
  top: 30vh;
  right: 20vh;
}

.spellPage,
.taskPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.taskPage form {
  margin: 10px auto;
}

.modalWindow {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 30px;
}

.modalWindow__spell {
  top: 30vh;
  left: 34vw;
}

.modalWindow__task {
  top: 20vh;
  left: 26.5vw;
  width: 600px;
}

.spellType {
  width: 50%;
  cursor: pointer;
}

.spellType:hover {
  transform: scale(1.2);
}

.tempMedia {
  margin: 10px;
}

.tempMedia img {
  width: 300px;
}

.sortable {
  list-style-type: none;
}

.sortable li {
  text-align: center;
  display: inline-block;
  background-color: #ffc2db;
  font-size: 30px;
  padding: 20px 0;
  width: 65px;
  margin: 3px;
}

label > input {
  visibility: hidden;
  position: absolute;
}
label > input + img {
  cursor: pointer;
  height: 100px;
  max-width: 150px;
  margin: 5px;
}
label > input:checked + img {
  border: #90ee90 2px solid;
}

.equationRow img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.scoresPage {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  top: 6vh;
  width: 50vw;
  padding: 50px;
  margin: 2.5vh auto;
}

table {
  width: 100%;
  margin: 1vh 0 0;
}

th {
  width: 50%;
  font-size: 4vh;
  padding: 10px;
  color: #000000;
}

td {
  width: 50%;
  font-size: 3vh;
  color: #000000;
  padding: 5px;
}

tr {
  margin: 5px auto;
}

/*.loadImages {
  position: absolute;
  visibility: hidden;
  background-image: url("/img/spritePlayer.png");
  background-image: url("/img/arena1.jpg");
  background-image: url("/img/arena2.png");
  background-image: url("/img/arena3.png");
  background-image: url("/img/arena4.png");
  background-image: url("/img/heal.png");
  background-image: url("/img/sword.png");
  background-image: url("/img/smoke.png");
  background-image: url("/img/spritePlayer.png");
  background-image: url("/img/spritePlayerDie.png");
  background-image: url("/img/spritePlayerFire.png");
  background-image: url("/img/spritePlayerHeal1.png");
  background-image: url("/img/spritePlayerHurt.png");
  background-image: url("/img/monster/die/head/monsterHeadDie1.png");
  background-image: url("/img/monster/die/head/monsterHeadDie2.png");
  background-image: url("/img/monster/die/head/monsterHeadDie3.png");
  background-image: url("/img/monster/die/body/monsterBodyDie1.png");
  background-image: url("/img/monster/die/body/monsterBodyDie2.png");
  background-image: url("/img/monster/die/body/monsterBodyDie3.png");
  background-image: url("/img/monster/die/legs/monsterLegsDie1.png");
  background-image: url("/img/monster/die/legs/monsterLegsDie2.png");
  background-image: url("/img/monster/die/legs/monsterLegsDie3.png");
  background-image: url("/img/monster/fire/head/monsterHeadFire1.png");
  background-image: url("/img/monster/fire/head/monsterHeadFire2.png");
  background-image: url("/img/monster/fire/head/monsterHeadFire3.png");
  background-image: url("/img/monster/fire/body/monsterBodyFire1.png");
  background-image: url("/img/monster/fire/body/monsterBodyFire2.png");
  background-image: url("/img/monster/fire/body/monsterBodyFire3.png");
  background-image: url("/img/monster/fire/legs/monsterLegsFire1.png");
  background-image: url("/img/monster/fire/legs/monsterLegsFire2.png");
  background-image: url("/img/monster/fire/legs/monsterLegsFire3.png");
  background-image: url("/img/monster/hurt/head/monsterHeadHurt1.png");
  background-image: url("/img/monster/hurt/head/monsterHeadHurt2.png");
  background-image: url("/img/monster/hurt/head/monsterHeadHurt3.png");
  background-image: url("/img/monster/hurt/body/monsterBodyHurt1.png");
  background-image: url("/img/monster/hurt/body/monsterBodyHurt2.png");
  background-image: url("/img/monster/hurt/body/monsterBodyHurt3.png");
  background-image: url("/img/monster/hurt/legs/monsterLegsHurt1.png");
  background-image: url("/img/monster/hurt/legs/monsterLegsHurt2.png");
  background-image: url("/img/monster/hurt/legs/monsterLegsHurt3.png");
  background-image: url("/img/monster/idle/heads/monsterHeadIdle1.png");
  background-image: url("/img/monster/idle/heads/monsterHeadIdle2.png");
  background-image: url("/img/monster/idle/heads/monsterHeadIdle3.png");
  background-image: url("/img/monster/idle/bodies/monsterBodyIdle1.png");
  background-image: url("/img/monster/idle/bodies/monsterBodyIdle2.png");
  background-image: url("/img/monster/idle/bodies/monsterBodyIdle3.png");
  background-image: url("/img/monster/idle/legs/monsterLegsIdle1.png");
  background-image: url("/img/monster/idle/legs/monsterLegsIdle2.png");
  background-image: url("/img/monster/idle/legs/monsterLegsIdle3.png");
  background-image: url("/img/capitalstask/belarus.jpeg");
  background-image: url("/img/capitalstask/canada.jpg");
  background-image: url("/img/capitalstask/germany.jpg");
  background-image: url("/img/capitalstask/greatbritain.jpg");
  background-image: url("/img/capitalstask/italy.jpg");
  background-image: url("/img/capitalstask/lithuania.jpg");
  background-image: url("/img/capitalstask/spain.jpg");
  background-image: url("/img/capitalstask/sweden.jpg");
  background-image: url("/img/capitalstask/usa.png");
  background-image: url("/img/equationTask/apple.png");
  background-image: url("/img/equationTask/banana.png");
  background-image: url("/img/equationTask/coconut.png");
  background-image: url("/img/redudanttask/bear.jpg");
  background-image: url("/img/redudanttask/cucumber.jpg");
  background-image: url("/img/redudanttask/elephant.jpg");
  background-image: url("/img/redudanttask/ferrari.jpg");
  background-image: url("/img/redudanttask/lada.jpg");
  background-image: url("/img/redudanttask/lion.jpg");
  background-image: url("/img/redudanttask/mersedes.jpg");
  background-image: url("/img/redudanttask/oranges.jpg");
  background-image: url("/img/redudanttask/ostrich.jpg");
  background-image: url("/img/redudanttask/pears.jpg");
  background-image: url("/img/redudanttask/pinguin.jpg");
  background-image: url("/img/redudanttask/sinica.jpg");
}*/
